/* CSS Document */
#jj_left
{
width:200px;
background-color:#fdf5e5;
float:left;
margin-right:10px;
height:500px;

}
#jj_right
{
width:740px;
background-color:#fdf5e5;
float:left;
}
#hl1
{
background-color:#8f8f8f;
height:30px;
padding-left:30px;
padding-top:7px;
width:710px;
float:none;
color:#fff;
font-size:14px;
font-weight:bold;
}
#hl1 a:link 
{
background-color:#8f8f8f;
height:30px;
padding-top:7px;
width:710px;
float:none;
color:#fff;
font-size:14px;
font-weight:bold;
}
#hl1 a:visited
{
background-color:#8f8f8f;
height:30px;
padding-top:7px;
width:710px;
float:none;
color:#fff;
font-size:14px;
font-weight:bold;
}
#hl2
{
background-image:url(bg11.gif);
height:30px;
padding-top:7px;
padding-left:20px;
width:180px;
float:left;
color:#fff;
font-size:14px;
font-weight:bold;
}
#list
{
width:170px;
height:auto;
padding-left:30px;
background-color:#fdf5e5;
font-size:14px;
font-weight:bold;
padding:0px;
}
#list a:link
{
width:170px;
height:auto;
padding-left:30px;
background-color:#fdf5e5;
font-size:14px;
font-weight:bold;
padding:0px;
}
#list a:visited
{
width:170px;
height:auto;
padding-left:30px;
background-color:#fdf5e5;
font-size:14px;
font-weight:bold;
padding:0px;
}
#list a:hover
{
width:170px;
height:auto;
padding-left:30px;
background-color:#fdf5e5;
font-size:14px;
font-weight:bold;
padding:0px;
color:#fd6500;
}
#list p
{
margin-top:0px;
padding-left:20px;
font-size:14px;
font-weight:bold;
line-height:30px;
width:180px;
border-bottom:1px dashed #ccc;
}
#new_list
{
background-color:#fdf5e5;;
width:740px;
float:none;
font-size:14px;
}
#new_list ul li
{
list-style:none;
background-image:url(x_arror.gif);
background-position:left;
background-repeat:no-repeat;
padding:0 0 0 20px;
line-height:35px;
border-bottom:1px dotted #ccc;

}
#new_list a
{
text-decoration:none;
color:#000;
font-size:12px;
width:531px;
}
#new_list a:link
{
text-decoration:none;
color:#000;
font-size:12px;
width:531px;
}
#new_list a:visited
{
text-decoration:none;
color:#000;
font-size:12px;
width:531px;
}
#new_list a:hover
{
text-decoration:none;
color:#fd6500;
font-size:12px;


}

#title
{
background-color:#8f8f8f;
height:30px;
padding-top:7px;
width:740px;
float:none;
color:#fff;
font-size:16px;
font-weight:bold;
text-align:center;

}