<?xml version="1.0" encoding="utf-8" ?>
<rootnode>
    <editablefileTypes>
        <!--以下为所有可编辑文件.
          ** type表示文件扩展名；
          ** editpage表示用于编辑这种类型的文件的页面；
          ** target表示在新窗口中打开还是在原窗口中打开；
        -->
        <item type="txt" editpage="FileEdit.aspx" target="_self" />
        <item type="html" editpage="FileEdit.aspx"  target="_self" />
        <item type="htm" editpage="FileEdit.aspx"  target="_self" />
        <item type="shtml" editpage="FileEdit.aspx"  target="_self" />
        <item type="asp" editpage="FileEdit.aspx"  target="_self" />
        <item type="aspx" editpage="FileEdit.aspx"  target="_self" />
        <item type="php" editpage="FileEdit.aspx"  target="_self" />
        <item type="js" editpage="FileEdit.aspx"  target="_self" />
        <item type="css" editpage="FileEdit.aspx"  target="_self" />
        <item type="resx" editpage="FileEdit.aspx"  target="_self" />
        <item type="ascx" editpage="FileEdit.aspx"  target="_self" />
        <item type="ashx" editpage="FileEdit.aspx"  target="_self" />
        <item type="asmx" editpage="FileEdit.aspx"  target="_self" />
        <item type="mspx" editpage="FileEdit.aspx"  target="_self" />
        <item type="asax" editpage="FileEdit.aspx"  target="_self" />
        <item type="asa" editpage="FileEdit.aspx"  target="_self" />
        <item type="config" editpage="FileEdit.aspx"  target="_self" />
        <item type="cs" editpage="FileEdit.aspx"  target="_self" />
        <item type="java" editpage="FileEdit.aspx"  target="_self" />
        <item type="xml" editpage="FileEdit.aspx"  target="_self" />
        <item type="xsl" editpage="FileEdit.aspx"  target="_self" />
        <item type="wml" editpage="FileEdit.aspx"  target="_self" />
        <item type="mxml" editpage="FileEdit.aspx"  target="_self" />
        <item type="axml" editpage="FileEdit.aspx"  target="_self" />
        <item type="inc" editpage="FileEdit.aspx"  target="_self" />

    </editablefileTypes>
</rootnode>