<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="云作坊2012新学期招新" />
<meta name="keywords" content="yunstudio，云作坊" />
<title>Hello! 云作坊</title>
<link rel="stylesheet" type="text/css" href="/sites/Demo/templates/atts/css/base.css" />
<link rel="stylesheet" type="text/css" href="/sites/Demo/templates/atts/css/jquery.slider.css" />
<link rel="stylesheet" type="text/css" href="/sites/Demo/templates/atts/css/style.css">

<script type="text/javascript" src="/sites/Demo/templates/atts/js/jquery.min.js"></script>
<script type="text/javascript" src="/sites/Demo/templates/atts/js/jquery.slider.min.js"></script>
<script src="/sites/Demo/templates/atts/js/jquery-1.5.min.js"></script>
<script src="/sites/Demo/templates/atts/js/slider.js"></script>
	<script src="/sites/Demo/templates/atts/js/html5.js"></script>
<script>
$(function()
{
	var aImg = document.getElementById("nav").getElementsByTagName("img");
	for(i = 0; i < aImg.length; i+=2) {
		aImg[i].onmouseover = function () {
			this.src = this.src.replace("out","hover");
		}
		
		aImg[i].onmouseout = function () {
			this.src = this.src.replace("hover","out");
		}
	}
})
</script>

<!–[if lte IE 8]>
	<style type="text/css">
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
	</style>
<![endif]–>


 <STYLE type="text/css">
<!--

a img{border:none}
.STYLE23 {font-size: 13.5px}
.STYLE25 {
	font-size: 14.5px;
	color: #3366CC;
}
-->
</STYLE>

<script>
var aImg = document.getElementById("nav").getElementsByTagName("img");
for(i = 0; i < aImg.length; i++) {
	aImg[i].onmouseover = function () {
		this.src = this.src.replace("out","hover");
	}
	
	aImg[i].onmouseout = function () {
		this.src = this.src.replace("hover","out");
	}
}
</script>
</head>
<body>


<jcms:include file="/sites/Demo/templates/2012-12-26--131955.htm" />  
   

<div class="main">
<div id="flash"    style="width:950px; margin:0 auto;"><img src="/sites/Demo/templates/atts/images/gjyc.jpg" style="margin-top:-1px;"/></div>

<div id="form" style=" width:950px; margin:0 auto; background:#FFB;" > <br />

<br />
<div id="wrapper">
<div class="content" >

        	<section class="intro top left">

                <div class="wrapper" style="width:350px;">
				    

                        <h2><b>If not now?When?!</br></br>If not you?Who?!<br/></br>Join us just now!  </b> </h2>     
                </div>

            </section>

        	<section class="programmer top right">

                <div class="wrapper">

                    <h2><b>&nbsp;程序开发</b></h2>

                    <div id=details>

                            <ul class="description">

                                <li>在云作坊有这样一群猿媛。</li>

                                <li>他们是互联网的基础，他们做的工作我们也许永远都想不到。</li>

                                <li>他们有一句名言是"Coding the World"。</li>

                                <li>今天，他们把这句话变成了真的，这个信息时代就是他们最棒的作品。</li>
                            </ul>
                            <ul class="requirement">
                                <li>热衷于互联网行业，有意向在该领域发展深造；</li>

                                <li>有良好的团队合作精神和较强的解决问题能力；</li>

                                <li>熟悉PHP,.Net,Java中任意一种，或者对其有浓厚兴趣。</li>
                            </ul>

                           
                            <a href="http://yunstudio.net/baoming/云作坊申请表.rar" class="join" title="立即申请" target="_blank">

                               <b>灵感</b>                            </a>                    </div>
                </div>

            </section>

        	<section class="designer bottom left">

                <div class="wrapper">

                    <h2><b>美工设计</b></h2>

                    <div id=details>

                            <ul class="description">

                                <li>在云作坊，如果没有这群人，一切的一切都黯然无光。</li>

                                <li>无论多么绚丽的视觉效果，都是由他们天马行空的创作产生。</li>

                                <li>无论多么精致的图标按钮，都是由他们对每一个像素的精准把握而呈现出来。</li>

                                <li>当然也不能忘了我们最终看到的网页，每一个标记都是他们深思熟虑的结晶。</li>
                            </ul>

                            <ul class="requirement">

                                <li>具有良好的审美观；</li>

                                <li>熟悉FireWorks、Photoshop、Flash等任一种图形设计软件；</li>

                                <li>了解html+css者优先考虑。</li>
                            </ul>

                            <a href="http://yunstudio.net/baoming/云作坊申请表.rar" class="join" title="立即申请" target="_blank">

                  <b> 激情</b>                            </a>                    </div>
                </div>

            </section>

        	<section class="editor bottom  right">

                <div class="wrapper">

                    <h2><b>&nbsp;商业运作</b></h2>

                    <div id=details>

                            <ul class="description">

                                <li>在云作坊，如果没有这群人，一切的一切都无从下手。</li>

                                <li>他们用锐利的眼光洞悉着互联网的发展与动态。</li>

                                <li>他们用敏锐的直觉把握着网站的方向和未来。</li>

                                <li>他们用辛苦的劳动证明了优秀的策划内容才是一个网站成功的关键。</li>
                            </ul>

                            <ul class="requirement">

                                <li>具有较强的责任感和良好的团队合作精神；</li>

                                <li>对娱乐、音乐、时尚或文学有一定的兴趣和了解；</li>

                                <li>具备基础电脑操作技能和基本网络知识，具备基础电脑操作技能和基本网络知识、创意丰富、见解独到者优先考虑。</li>
                            </ul>

                            <a href="http://yunstudio.net/baoming/云作坊申请表.rar" class="join" title="立即申请" target="_blank">

                             <b>  友爱</b>                            </a>                    </div>
                </div>

            </section>

        </div>
		</div>
		
		
<div style=" text-indent:20px; padding:0 15px 0 15px; line-height:25px;"></div>
</div>

	
    
    

</div>


  <jcms:include file="/sites/Demo/templates/2012-12-26--131721.htm" />  
  
</body>
</html>
