
 <div style="clear:both;">   
     <table class="shuangxin" width="100%" border="0">
        <tr>
          <td width="5%" height="24">&nbsp;</td>
          <td width="22%">本实验室承接各类商业项目</td>
          <td width="22%">主管邮箱：<a href="mailto:yunstudio2012@qq.com">yunstudio2012@qq.com</a></td>
          <td width="13%">&nbsp;</td>
          <td width="7%"><a href="#">网站地图</a></td>
          <td width="2%">|</td>
          <td width="7%"><a href="newslist.php">热点新闻</a></td>
          <td width="2%"><a href="#"></a>|</td>
          <td width="7%"><a href="#">寻求帮助</a></td>
          <td width="2%"><a href="#"> </a>|</td>
          <td width="11%"><a href="#">联系我们</a></td>
        </tr>
      </table>
	<div class="footer">
      <table width="100%" border="0">
        <tr>
          <td width="30%" height="39">&nbsp;</td>
          <td colspan="2" align="center"> Copyright © 2010-2012 云作坊 Inc. 保留所有权利 </td>
          <td width="7%"></td>
          <td width="2%"></td>
          <td width="20%"></td>
        </tr>
        <tr align="center">
          <td colspan="6">湘ICP备10021854<span style="margin-left:12px;"><script src="http://s25.cnzz.com/stat.php?id=4368956&web_id=4368956&show=pic1" language="JavaScript"></script></span></td>
        </tr>
      </table>
    </div>
</div>