*{font-family: "Microsoft YaHei", SimSun;}
body {
    margin: 0;
    padding: 0;
    width: auto;
    font-family: "Microsoft YaHei", SimSun;
	font-size:12px;
}
#nav a:hover,.logo a:hover,#toutiao a:hover,.allPart a:hover,.shuangxin a:hover,.footer a:hover{
    left: 1px;
    position: relative;
    top: 1px;
}
a:link {
    color: #63AEE9;
    text-decoration: none;
}
a:visited {
    color: #63AEE9;
    text-decoration: none;
}

a:hover {
    border:none;
}
a img{
	border:none;
}
/*header
*/
.header{
	background:#000;
	width:100%;
	height:100px;
}
.headCenter{
	width:950px;
	height:100px;
	margin:0 auto;
}
.logo{
	float:left;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-top:10px;
	width:150px;
	height:48px;
}
.searchBox{
	margin-top:30px;
	float:right;
	width:189px;
	height:65px;
	color:#FFF;
	font-size:14px;
}
.searchBox input{
	float:left;
}
.searchBox img{
	border:0;
	margin-bottom:-5px;
	margin-left:10px;
}
/*main
*/
.main{
	width:950px;
	margin:0 auto;
}
#nav{
	padding:0;
	margin:0 auto;
	width:auto;
	height:35px;
	border-bottom:#DDD 1px solid;
}
#nav li{
	list-style:none;
	float:left;
}
/*图片播放器
*/
.slider{
	width:950px;
	height:289px;
	overflow:hidden;
}
/*新闻头条
*/
#toutiao{
	background-color: #F9F9F9;
	height: 25px;
	margin: 5px auto;
	width: 950px;
}
#toutiao img{
	display:block;
	float:left;
}
.ttContent{
	border-top:1px solid #ccc; 
	border-bottom:1px solid #ccc; 
	width:940px; 
	height:25px;
	float:left;
}
.ttCon1{
	font-size:12px; 
	font-weight:bold;
	text-align:center; 
	color:#797979; 
	margin:5px 0 0 0;
	float:left; 
	width:128px;
}
#ttCon2{
	position:relative;
	margin-left:20px; 
	font-size:12px; 
	margin-top:5px; 
	height:80%; 
	width:766px; 
	padding:0px;
	float:left;
	overflow:hidden;
}
#ttCon2 ul{
	position:absolute;
	left:0px;
	top:0;
	width:630px;
	margin:0;
	padding:19px 0 0 0;
	list-style:none;
}
#ttCon2 ul li{
	line-height:19px;
}
#ttCon2 ul li a{
	color:#600;
	font-weight:bold;
}
/*三大部分
*/
.allPart{
	width:950px;
	height:155px;
	margin:10px auto;
}
.part{
	width:318px;
	height:155px;
	margin-right:22px;
	float:left;
}
.part img{
	float:left;
	display:block;
}
.partCon{
	float:left;
	width:300px;
	height:155px;
	background:url(../images/weizibg.jpg) repeat-x;
}
.partCon h4{
	margin:5px 0 8px 0;
}
.partCon h4 a{
	color:#000;
}
.partCon p{
	font-size: 12px;
	line-height: 20px;
	text-indent:2em;
}
.partCon ul{
	font-size: 12px;
	line-height: 20px;
	text-indent:1em;
	width:300px;
	height:124px;
	padding:0;
	margin:0 auto;
	list-style:none;
}
.partCon ul li{
	width:280px;
}
.partCon ul li a{
	color:#333;
}
/*联系我们
*/
.shuangxin{
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	font-size: 12px;
	height: 25px;
	margin: 15px auto;
	vertical-align: middle;
	width: 950px;
	color:#333;
}
/*footer
*/
.footer{
	font-size: 12px;
	height: 70px;
	margin: 15px auto 30px;
	vertical-align: middle;
	width: 950px;
	color:#333;
}
table tr td{
	font-family:Verdana, Geneva, sans-serif;
	
}
table tr td a{
	font-family:Arial, Helvetica, sans-serif;
	
}

/* tooltip */
#tooltip{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:2px;
	display:none;
	color:#fff;
}
