<?xml version="1.0" standalone="yes"?>
<Root>
  <menu>
    <FavoriteId> 1 </FavoriteId>
    <FavoriteTitle>12</FavoriteTitle>
    <FavoriteAddTime>dd</FavoriteAddTime>
    <FavoriteContent>11</FavoriteContent>
    <UserID>11</UserID>
    <Url>126</Url>
    <Icon>lib/icons/32X32/suppliers.gif</Icon>
  </menu>
  <menu>
    <FavoriteId> 2 </FavoriteId>
    <FavoriteTitle>144</FavoriteTitle>
    <FavoriteAddTime>dd</FavoriteAddTime>
    <FavoriteContent>11</FavoriteContent>
    <UserID>11</UserID>
    <Url>11</Url>
    <Icon>lib/icons/32X32/suppliers.gif</Icon>
  </menu>
</Root>